.footer {
}

.footer__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__title {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  font-size: 60px;
}

.footer__list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__list-item {
  display: flex;
  margin: 0;
  padding: 0 10px 20px 0;
}

.footer_img {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 250px;
  display: block;
  min-height: 100vh;
}
.footer_icon {
  width: 20px;
  height: 20px;
  background-color: white;
  margin: 3px 5px 0 0;
}
.footer__list-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media (max-width: 1440px) {
  .footer_img {
    min-height: 500px;
    min-width: 250px;
  }
}

@media screen and (max-width: 750px) {
  .footer__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer_img {
    max-width: 250px;
    max-height: 250px;
    min-height: 50px;
    min-width: 50px;
    margin-bottom: 25px;
  }
  .footer__title {
    padding: 10px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
