.modal {
  overflow: auto;
  max-height: 95vh;
  visibility: visible;
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 50px;
  opacity: 0.9;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.modal__paragraph {
  margin: 0;
  padding: 0 0 10px 0;
}
.modal__title {
  margin: 0;
  padding: 0 0 0 10px 0;
  font-size: 75px;
}
.modal__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
}

.modal__container {
  gap: 20px;
  padding: 0 10px;
  display: grid;
  grid-template-rows: repeat(2, fit-content);
  justify-content: center;
  align-items: center;
}

.modtext__container {
  justify-content: center;
  align-items: center;
}
.modgallery__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.modal__list-item {
  margin: 0;
  padding: 0 0 10px 0;
}
.mod__gal-img {
  max-width: 300px;
  display: block;
}

.modal__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.modgallery__list-item {
  margin: 0;
  max-width: fit-content;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.modgallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .modal__title {
    font-size: 50px;
  }
  .modgallery__list {
    display: flex;
    flex-direction: column;
  }
  .mod__gal-img {
    max-width: 200px;
  }
}
